header {
    color: white;
    font-size: xx-large;
    justify-content: center;
    display: flex;
    margin: 0 0 15px 0;
    font-family: Verdana;
    letter-spacing: .5rem;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

button {
    background: none;
    color: aliceblue;
    outline: auto;
    margin: 15px 10px 25px 10px;
    font-size: x-large;
}

button:focus {
    background-color: red;
}

footer {
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

#wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.divider {
    width: 100%;
    background:
        linear-gradient(
            to right,
            rgba(255,0,0,1) 0%,
            rgba(255,154,0,1) 10%,
            rgba(208,222,33,1) 20%,
            rgba(79,220,74,1) 30%,
            rgba(63,218,216,1) 40%,
            rgba(47,201,226,1) 50%,
            rgba(28,127,238,1) 60%,
            rgba(95,21,242,1) 70%,
            rgba(186,12,248,1) 80%,
            rgba(251,7,217,1) 90%,
            rgba(255,0,0,1) 100%
        ) 0 0/200% 100%;
    min-height: 3px;
    margin: 15px 0 15px 0;
    animation: a 2s linear infinite;
    display: flex;
}

#buttoncontainer {
    width: 100%;
    justify-content: center;
    display: flex;
    transition: all .5s ease-in-out;
    height: 100%;
}

.card {
    margin: 5px 10px;
    perspective: 1000px;
    background-color: transparent;
    display: flex;
    min-height: 3.5in;
    min-width: 2.5in;
    visibility: hidden; 
}

.card.cardreversed {
    transform: rotateZ(-180deg);
}


.card .cardcontent {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.637);
    border-radius: 8px;
    height: 3.5in;
    width: 2.5in;
    backface-visibility: hidden;
}

.cardcontent {
    width: 100%;
    height: 100%;
}

.card .cardcontent.flipped {
    transform: rotateY(-180deg);
}

.card.cardreversed .cardcontent.flipped {
    transform: rotateY(180deg);
}

.cardtitle {
    width: 100%;
    position: relative;
    text-align: center;
    top: 70%;
    background: rgba(0, 0, 0, 50%);
    display: block;
    color: white;
}

.cardback {
    background-image: url("../images/cardbackalpha.png");
}

.cardfront {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
    background: linear-gradient(to bottom, rgb(95, 25, 145),rgb(152, 75, 224));
}

.cardfront, .cardback {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    z-index: 2;
    backface-visibility: hidden; 
}

.card-spread {
    border-radius: 8px;
    height: 401px; 
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
}

.card-spread-title {
    color: gainsboro;
    width: 100%;
    letter-spacing: .5rem;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
}

.break {
    flex-basis: 100%;
    height: 0;
}

#retry {
    color: white;
    display: none;
}
a > #retry {
    color: white;
}

@keyframes a {
    to {background-position: -200% 0}
}

@media screen and (max-width: 756px) {
    header {
        font-size: 2rem;
    }
    html {
        height: 160vh;
    }
    #wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start
    }
    #buttoncontainer {
        flex-direction: column;
    }
    .card-spread {
        height: auto; 
        margin-bottom: 20px; 
    }
  }
