body {
    background-color: black;
}

.card {
    height: 3.5in;
    width: 2.5in;
    border: 1px rgb(0, 0, 0);
    border-style: solid;
    border-radius: 8px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    background: linear-gradient(to bottom, rgb(95, 25, 145),rgb(152, 75, 224));
    /*transform: rotate(180deg);*/
}

.cardtitle {
    width: 100%;
    position: relative;
    text-align: center;
    top: 70%;
    background: rgba(0, 0, 0, 50%);
    display: block; 
}

#wrapper {
    width: 100%;
    text-align: center;
}